<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>PLS de stage : <%= search.query %></title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/index.css" rel="stylesheet">
  </head>
  <body>
    <main role="main" class="container">

    <div class="container-title">
        <h1 class="page-title">En PLS de stage ?</h1>
        <form id="search-form" class="form">
            <div class="form-row">
                <div class="form-group col">
                    <label for="query-form">Mots-clés</label>
                    <input id="query-form" class="form-control" type="text" placeholder="Recherche" value=<%- JSON.stringify(search.query) %>>
                </div>
                <div class="from-group col">
                    <label for="query-form">Lieu</label>
                    <input id="location-form" class="form-control" type="text" placeholder="Lieu" value=<%= search.loc %>>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="nb-results">Nombre de résultats</label>
                    <select class="form-control" id="nb-results">
                            <%
                            var options = [ "25", "50", "100", "200" ];
                            options.forEach(function (n) {
                                var selected = ( search.nb === n ) ? "selected" : "";
                                %><option value="<%= n %>" <%=selected %>><%= n %></option><%
                            });
                            %>
                    </select>
                </div>
                <div class="form-group col">
                    <label for="website-form">Site</label>
                    <select class="form-control" id="website-form">
                        <option value="indeed" <%= (search.site === "indeed") ? "selected" : "" %>>Indeed</option>
                        <option value="monster" <%= (search.site === "monster") ? "selected" : "" %>>Monster</option>
                        <option value="glassdoor" <%= (search.site === "glassdoor") ? "selected" : "" %>>Glassdoor</option>
                        <option value="lesjeudis" <%= (search.site === "lesjeudis") ? "selected" : "" %>>LesJeudis</option>
                        <option value="LinkedIn" <%= (search.site === "LinkedIn") ? "selected" : "" %>>LinkedIn (Attention : instable)</option>
                        <option value="MeteoJob" <%= (search.site === "MeteoJob") ? "selected" : "" %>>MeteoJob</option>
                        <option value="iquesta-conseil" <%= (search.site === "iquesta-conseil") ? "selected" : "" %>>iQuesta - Conseil (sans filtre)</option>
                        <option value="iquesta-dev" <%= (search.site === "iquesta-dev") ? "selected" : "" %>>iQuesta - Développement (sans filtre)</option>
                        <option value="iquesta-gestion" <%= (search.site === "iquesta-gestion") ? "selected" : "" %>>iQuesta - Gestion (sans filtre)</option>
                        <option value="iquesta-sys" <%= (search.site === "iquesta-sys") ? "selected" : "" %>>iQuesta - Systèmes et réseaux (sans filtre)</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-primary">gib stage stp</button>
            </div>
        </form>
    </div>

    <% if (jobs.length !== 0) { %>
    <div>
        <table class="table results">
            <tbody>
                <% jobs.forEach( function(job) { %>
                <tr class="d-flex">
                    <td class="col-6"><a target="_blank" href=<%= job.url %>><%= job.title %></a></td>
                    <td class="col-2"><%= job.company %></td>
                    <td class="col-2"><%= job.location %></td>
                    <td class="col-2"><%= job.postDate %></td>
                    <td class="col-2"><%= job.duration || '---' %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <% } else { %>
    <div class="alert alert-warning" role="alert">
        Aucune offre n'a été trouvée.
    </div>
    <% } %>

    </main><!-- /.container -->
    </body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="/js/query.js"></script>
</html>
