body {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.container-title {
  margin-bottom: 3rem;
  /* text-align: center; */
}

.page-title {
  margin-bottom: 3rem;
  text-align: center;
}

.form-row {
  margin: 10px;
}

.results {
  font-size: 12px;
}

.results td {
  padding: 3px;
}